/* question.css */

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00d4ff;
    text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 30px #00d4ff;
}

main {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: left;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #00d4ff;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #d1d1d1;
}

form {
    display: flex;
    flex-direction: column;
}

.option-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    font-size: 1.2em;
}

button {
    width: calc(100% - 30px);
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: #00d4ff;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background: #00a1cc;
    box-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 30px #00d4ff;
}

footer {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 1em;
    color: #d1d1d1;
}
