<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contestar Quiz</title>
</head>
<body>
    <h1>Contestar Quiz</h1>
    <form action="{{ url_for('contestar') }}" method="post" autocomplete="off">
        {% for pregunta in preguntas %}
            <h3>{{ pregunta.question_text }}</h3>
            <ul>
                {% for opcion in pregunta.options %}
                    <li><input type="radio" name="{{ pregunta.question_id }}" value="{{ opcion.option_id }}">{{ opcion.option_text }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
        <button type="submit">Enviar Respuestas</button>
    </form>
</body>
</html>
