<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido</h1>
        <p>Bienvenido a nuestra plataforma de exámenes en línea. Aquí podrás iniciar sesión o registrarte para acceder a nuestros servicios.</p>
        <img src="{{ url_for('static', filename='SSP.jpeg') }}" alt="Persona presentando un examen" class="rounded-img">
        <ul>
            <li><a href="{{ url_for('login') }}">Iniciar Sesión</a></li>
            <li><a href="{{ url_for('register') }}">Registrarse</a></li>
        </ul>
    </div>
</body>
</html>
