<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu_styles.css') }}">
</head>
<body>
    <div class="menu-container">
        <h1>Menú</h1>
        <p>Intentos realizados de simulacion de prueba: {{ attempts_20 }}</p>
        <p>Intentos realizados de Examen Final: {{ attempts_40 }}</p>
        <ul>
            <li><a href="{{ url_for('start_quiz') }}">Realizar simulacion de Examen</a></li>
            <li><a href="{{ url_for('start_quiz_40') }}">Examen Final</a></li>
        </ul>
        <button onclick="logout()">Cerrar Sesión</button>
        <p>Recuerda que solo tienes 5 intentos para el simulador de Examen</p>
        <p>Y en el examen final tienes 2 intentos</p>
    </div>
    <script>
        function logout() {
            fetch('{{ url_for("logout") }}', {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    window.location.href = '{{ url_for("home") }}';
                }
            });
        }
    </script>
</body>
</html>
